* {
    margin: 0;
    padding: 0;
}

.container {    
    margin: 0 auto;
    max-width: 1140px;
}


.header{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.heading{
    font-size: 36px;
    text-align: center;
    font-weight: 300px;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.heading-mini{
    font-size: 20px;
    line-height: 30px;
    color:black;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.heading-contacts{
    font-weight: 500px;
    font-size: 44px;
    text-align: center;
}

.contact__us{
    padding-top: 115px;
    background-image: url(img/contactus.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.contact__us__heading{
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.invalid{
    border: 1px solid red;
}

.error_class{
    color: red;
}

.contact__us__text{
    width: 75%;
    height: 60px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 120px;
    margin-bottom: 20px;
}

.contact-box{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.contact__text{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 24px;
}

.send__message{
    margin-right: 212px;
    margin-left: 101px;
}

.send__message__input
{
    width: 428px;
    opacity: 0.4;

    box-sizing: border-box;
    border-radius: 10px;
    height: 30px;
}

.send__message__message
{
    width: 428px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    height: 144px;
    margin-bottom: 72px;
}

.send__message__button{
    width: 428px;
    height: 72px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.send__message__text
{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}

.yandex__map{
    margin: 112px 213px;
}

.contact__link{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
}

.contact__p{
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
    margin-bottom: 40px;
}

.contact__phones{
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 40px;
}

.ourcontact{
    width: 301px;
    height: 668px;
    margin-left: 212px;
}



.top{
    min-height: 471px;
    background-color:aliceblue;

}

.top__box{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top__heading{
    width: 510px;
    font-size: 64px;
    font-weight: 300;
    color: #1f3f68;
    margin-bottom: 32px;
}

.top__text{
    width: 425px;
    height: 82px;
    left: 114px;
    top: 369px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68
}

.top__info{
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/top_back.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 50%;
}

.top__button{
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffff;
    width: 220px;
    height: 36px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration-line: none;
    display: inline-block;
    margin-top: 71px;
}

.text{
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.text__project{
    width: 75%;
    font-size: 16px;
    line-height: 26px;
    margin-left: 120px;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.content__box{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.what-we-do{
    padding-top: 64px;
}

.card-box{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card__link{
    width: 78px;
    height: 27px;
    left: 145px;
    top: 1346px;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.card__img{
    align-self: center;
    margin-bottom: 51px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.project{
    padding-bottom: 112px;
}

.project__img{
    width: 100%;

}

.protect__item_margin{
    margin-right: 32px;
}

.project__parent{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.project_item{
    position: relative;
    flex-grow: 1;
}

.project__text{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    position: absolute;
    top: 64px;
    right: 64px;
    color: black;
}

.main{
    display: flex;
}

.contacts{
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
}

.contact{
    display: flex;
    flex-direction: row;
    width: 136px;
    height: 65px;
    padding: 14px 95px;
}

.link{
    color: #FFFFFF
}
.rights{
    color: #FFFFFF;
    padding: 64px 90px;
    margin-bottom: 64px;
}

.bottom__heading{
    width: 340px;
    height: 92px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 39px 113px;
    margin-bottom: 10px;
}

.bottom__text{
    width: 494.77px;
    height: 80px;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.05em;
    padding:  9px 131px 80px 90px;
    margin-bottom: 10px;
    color: white;
}

.bottom__parent{
    display: flex;
    justify-content: space-between;
}

.bottom__button{
    width: 236.63px;
    height: 36px;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    padding: 15px 80px;
    margin-right: 115px;
}

.border{
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.footer{
    background: #316099;
}

.footer__top{
    flex-grow: 1;
}

.footer__bottom{
    flex-grow: 1;
}

@media (max-width: 1024px){
    .sendus{
        margin: 10px 112px;
    }

    .contact-box{
        flex-direction: column;
        align-items: center;
    }

    .ourcontact{
        margin-left: 0px;
    }

    .send__message{
        margin: 64px 112px;
    }

    .container{
        padding-left: 32px;
        padding-right: 32px;
    }

    .top__info{
        background-position: right 180px;
    }

    .card-box{
        flex-direction: column;
        align-items: center;
    }

    .card{
        margin-bottom: 32px;
    }

    .bottom__heading{
        padding-left: 124px;
        padding-top: 47px;
        width: 336px;
        height: 82px;
        left: 124px;
        top: 3510px;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;
    }

    .bottom__button{
        width: 133.04px;
        height: 31.48px;
        margin-left: 51px;
        font-size: 16px;
        line-height: 26px;
        padding: 5px 10px;
    }


    .bottom__parent{
        display: flex;
        justify-content: space-between;
    }

    .bottom__text{
        padding: 12px 32px 12px 124px;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 154px;
    }

    .contacts{
        list-style: decimal;
        padding-top: 24px;
        flex-direction: column;
        align-items: center;
    }

    .contact{
        color: #FFFFFF;
        display: list-item;
        list-style: decimal;
        width: 455px;
        height: 15px;
        padding-top: 24px;
        margin-left: 180px
    }

    .rights{
        color: #FFFFFF;
        opacity: 0.4;
        padding-bottom: 64px;
    }
}

@media(max-width: 667px){
    .contact__us__heading{
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }
    .contact__us{
        padding-top: 10px;
        margin-top: 32px;
    }

    .contact__us__text{
        width: 95%;
        height: 50%;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: rgba(255, 255, 255, 0.6);
        margin: 32px 12px;
    }

    .woman__img{
        margin-bottom: 64px;
    }

    .sendus{
        margin: 10px 112px;
    }

    .contact-box{
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    .ourcontact{
        margin-left: 0px;
    }

    .send__message{
        margin: 64px 112px;
        width: 301px;
        height: 668px;
    }

    .send__message__message{
        width: 95%;
    }

    .send__message__input{
        width: 95%;
    }

    .send__message__button{
        width: 95%;
    }

    .header{
        padding-top: 24px;
    }

    .container{
        padding-left: 15px;
        padding-left: 15px;
    }

    .top{
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .top__info{
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .top__heading{
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }

    .top__text{
        width: 100%;
        text-align: center;
    }

    .top__button{
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .heading{
        font-size: 24px;
        line-height: 28px;

    }

    .what-we-do{
        padding-top: 48px;
    }

    .card-box{
        padding-top: 32px;

    }

    .card{
        width: 100%;
    }

    .contacts{
        list-style: decimal;
        padding-top: 24px;
        flex-direction: column;
        align-items: center;
    }
    
    .contact{
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.05em;

        color: #FFFFFF;
        display: list-item;
        list-style: decimal;
        width: 455px;
        height: 15px;
        padding-top: 14px;
        padding-left: 45px;
        margin-left: 380px
    }

    .text__project{
        width: 100%;
        text-align: center;
        margin-left: 0;
    }

    .project__text{
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project__text_mini{
        left: 16px;

    }

    .project__parent{
        flex-direction: column;
        margin-top: 16px;
    }

    .project{
        padding-bottom: 80px;
    }

    .protect__item_margin{
        margin-right: 0;
        margin-bottom: 16px;
    }

    .bottom__heading{
        height: 51px;
        padding: 18px 3px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    .bottom__button{
        width: 108px;
        height: 31px;
        margin: 0 auto;
        margin-bottom: 30px;    
        font-size: 16px;
        line-height: 26px;
        padding: 5px 10px;
    }

    .bottom__parent{
       flex-direction: column;
    }

    .bottom__text{
        width: 343px;
        height: 97px;
        padding: 12px 32px 12px 12px;
        line-height: 26px;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.05em;
        margin-bottom: 40px;
    }

    .rights{
        color: #FFFFFF;
        opacity: 0.4;
        padding: 10px 20px;
        text-align: center;
        margin-bottom: 0;
    }
}