<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <header>
        <div class="logo">Интернет-магазин</div>
        <div class="cart">
            <form action="#" class="search-form">
                <input type="text" v-model="searchLine" class="search-field">
                <button class="btn-search" @click="filterGoods">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <button @click="isVisibleCart = !isVisibleCart" class="btn-cart" type="button">Корзина</button>
            <div v-if="isVisibleCart" class="cart-block" style="display: block;">
                <div v-if="itemsInCart.length == 0" :style="style">Нет данных</div>
                <div class="basket-items">
                    <div class="cart-item" v-for="item of itemsInCart" :key="item.id_product">
                        <img :src="imgCatalog" alt="description">
                        <div>
                            <h4>{{ item.name }}</h4>
                            <div>{{ item.price }}</div>
                            <div>{{ item.quantity }}</div>
                        </div>
                        <div @click="removeItemCart(item)">
                            X
                        </div>
                    </div>

                <div>
                    <div>TOTAL</div>
                    <div>{{ cartTotalSum }}</div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="products">
            <div class="product-item" v-for="product of products" :key="product.id_product">
                <img :src="imgCatalog" alt="Some img">
                <div class="desc">
                    <h3>{{product.product_name}}</h3>
                    <p>{{product.price}}₽</p>
                    <button class="buy-btn" @click="addProduct(product)">Купить</button>

                </div>
            </div>
        </div>
    </main>
</div>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>
